 body{

margin:0;
padding:0;
background-image:url("pic.jpg") ;
object-fit: cover;
width:device-width;

background-size: cover;
background-position:center;
}
/*fom div input values*/
.main_operation_class {
  height:690px;
  width:100%;
  background-color:black;
  border-radius:15px;
  border-style: double;
  border-width: 4px;
  border-right-color:green;
  border-left-color:blue;
  border-top-color:pink;
  border-bottom-color:yellow;
}
.div_header{
  height:60px;
  width:60%;
  margin-left:20%;
  background-color: yellow;
  margin-top:0px;

}
.div_header>h3{
  text-align: center;
  vertical-align: center;
  font-size:30px;
  color: blue;
  margin-top:15px;
  border-style: double;
  border-width: 8px;
  border-right-color:green;
  border-left-color:blue;
  border-top-color:pink;
  border-bottom-color:yellow;
}
.input_div{
  height:600px;
  width:70%;
  margin-left:15%;
font-weight: bolder;
  margin-top:25px;
}
.input_div:hover{
  color:red;
}
.mortgage_calculor{
  height:28px;
  width:80%;
  margin-left:10%;
  border-radius:15px;
  margin-top:35px;
text-align: center;
border-style: double;
border-width: 5px;
border-right-color:green;
border-left-color:blue;
border-top-color:pink;
border-bottom-color:yellow;
background-image:url("images5.jpg");
object-fit: cover;
width:device-width;
background-size: cover;
background-position:center;

font-weight: bolder;
}
.submit_details{
  height:40px;
  width:40%;
  margin-left:30%;
  border-style: double;
  border-width: 5px;
  border-right-color:green;
  border-left-color:blue;
  border-top-color:pink;
  border-bottom-color:yellow;
    margin-top:25px;
    color:red;
    border-radius:10px;
    font-size:14px;
    font-weight: bolder;
}
/*homepage div*/
 .main_div_hometab{
   height:auto;
   width:90%;
   margin-left:5%;
   background-color:rgba(255, 0, 0, 0.5);

  border-radius:15px;
   border-style: double;
   border-width: 4px;
   border-right-color:green;
   border-left-color:blue;
   border-top-color:pink;
   border-bottom-color:yellow;

 }
 .main_div_title{
height:120px;
width:30%;
background-color: yellow;
border-style: solid;
border-width: 1;
border-right-color:green;
border-left-color:blue;
border-top-color:pink;
border-bottom-color:yellow;
border-right-style: groove;

 }

 .myupper_div_main_div{
   height:100px;
   width:70%;
   background-color: black;
   border-style:solid;
   border-width: 1px;
   border-right-color:green;
   border-left-color:blue;
   border-top-color:pink;

border-left-style: dotted;

 }

 .main_div_form_title_div{
   height:100px;
    width:100%;
background-color: ;
    display:flex;

 }
 .main_div_title>H1{
   coloR:blue;
   text-align:center;
 }
 .myupper_div_main_div_data{
   background-color: black;
   height:40px;
   width:23%;
   display:inline-block;
   margin-left:1%;

   border-width: 1px;
   border-right-color:blue;
   border-left-color:blue;
  border-top-style: none;
  border-bottom-style: none;
   margin-top:8px;
   COLOR:white;
   text-align:center;
   vertical-align:middle;
   margin-top:30px;
   color:white;
   font-stretch: extra-expanded;
   font-weight:bolder;

 }
 .personal{
    border-bottom-color:green;
 }
 .about{
    border-bottom-color:green;
 }
 .login_form{
   height:67px;
   width:40%;
   background-color: black;
   margin-left:60%;
   margin-bottom:20px;
border-bottom-left-radius:25px;

border-bottom-style: outset;
 }
 .login_header{
   height:25px;
   width:100%;
   background-color: blu;

  text-align:center;
  color:white;
  font-size:20px;
  padding-bottom:2px;
  text-align: center;
  font-weight: bolder;
 }
 .login_values{
   margin-left:6%;
   width:40%;
   height:12px;
   margin-top:10px;
   text-align:center;
   align:center;
   border-radius: 10px;
   font-weight: bolder;
   margin-bottom:13px;
 }
 .login_button{
   width:20%;

   margin-left:40%;
   border-radius:10px;
   margin-top:4px;
 }
 .Contacts>select{
   color:white;
   background-color: black;
 }
 .about>select{
   color:white;
      background-color: black;
 }
 .middle_display_transition_div{
height:400px;
width: 90%;
margin-left:5%;
margin-top:30px;
background-image:url("bank8.jpg");
object-fit:cover;
background-position: center;
background-size: cover;
filter:contrast(1.5);}
.middle_transtion_divs_split{
  height:380px;
  width:30%;
  background-color: red;
  margin-left:2%;
  display: inline-block;
  filter:opacity(2.9);
}
 .middle_display_transition_div:hover{
  width:auto;
  height:auto;
  border-radius:20px;

}

.click_me{
  background-color: yellow;
  color:blue;
  font-weight: bolder;
  border-right-style: outset;
  border-right-width: thick;
  border-right-color:red;
  border-bottom-style:groove;
  border-bottom-width: thick;
  border-bottom-color:blue;
  width:30%;
  font-size:30px;
}


.middle_div_homepage_right_div{
  width:63%;
  background-image:url("bank15.jpg");
  margin-top:7px;
  object-fit:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow:auto;
  transform: all 5s;
filter:opacity(1.9);
border-style: groove;
border-width: 4px;
border-color: yellow;
}
.middle_div_homepage_right_div:hover{
  width:20%;
  border-radius:30px;
  height:20px;
}
.middle_div_homepage_left_div:hover{
  width:0%;
  height:0px;
  padding:80px;
border-radius:30px;

}
.middle_div_homepage_left_div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      background-image:url("bank6.jpg");
      overflow:visible;
      transform: all 2s;
      border-style:ridge;
      border-width: 5px;
      border-color: red;
}
.lower_div_home_page{
  height:250px;
  width:90%;
  margin-left:5%;
  background-color: black;
  margin-top:20px;
}
.lower_div_homepage_subdivs{
  height:220px;
  margin-left:2%;
  background-color: ;
  width:30.5%;
  display:inline-block;
  margin-top:10px;
  text-align:center;
  color:yellow;
  border-style: solid;
  border-width: 2px;
  border-color:white;
}
.lower_homepage_div_buttons{
background-color:black;
}
.lower_homepage_div_buttons>a{
  background-color:black;
  color:white;
  font-weight:bolder;
}
.horizontal_policies{
  height:auto;
  width:95%;
  margin-left:2%;
  background-color:white;
  margin-top:20px;
  border-radius:15px;
  border-style:groove;
  border-width: 5px;
  border-right-style: none;
border-right-style:none;
border-top-style:double;
border-bottom-color:red;
border-top-style: BLACK;
background-color:YELLOW;
display:flex;

}
.horizontal_policies_feedbak_on_services{
  height:auto;
  width:60%;
  background-color: black;
  display:inline-block;

}
.horizontal_policies_policies{
  height:200px;
  width:35%;
  background-color:gs;
display: inline-block;
  margin-left:4%;
  border-style: solid;
  border-width: 4px;
  border-left-color:blue;
  border-top-style: none;
    border-bottom-style: none;
      border-right-style: none;
}
.horizontal_policies_feedbak_on_services>p{
  color:white;
  font-size:20px;
  text-align:center;
text-overflow: ellipsis;
text-transform: full-width;
text-underline-position: below;
font-family:serif;

}
.horizontal_policies_feedbak_on_services>input{
  height:30px;
  width:80%;
  border-radius:10px;
  margin-left: 10%;
  margin-top:20px;
outline:none;
text-align: center;
font-size:20px;
opacity:0.8;
}
.fedback_submission{
  height:20px;
  width:20%;
  margin-left:40%;
  background-color: white;
  margin-top:20px;
  border-radius:10px;
  outline:none;
}
.fedback_submission:hover{
  background-color: yellow;
  font-weight:bolder;
  color:black;
}
.policy_details{
  height:197px;
  width:100%;
border-radius:10px;
  background-color:white;

  text-align: center;
}
.my_footer{
  height:50px;
  width:100%;
  background-color:black;
  margin-top:60px;

}
.my_footer>p{
  font-size: 20px;
  color:white;
  font-weight: 500;
  text-align: center;


}
.horizontal_policies_policies{
  background-color: black;

}
.horizontal_policies_policies>h2{
  color:white;
  text-align:center;
  font-size:20px;
}
.horizontal_policies_policies>p{
  color:yellow;

  text-align:left;
  margin-left: 1.5%;
}
.image_class_transition{
  height:250px;
  width:90%;
  margin-left:5%;
  background-image:url("bank2.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  margin-top:20px;
  background-position: center;
  background-size: cover;
  filter:custom('contrast(2)','grayscale(3)','drop-shadow(2)');}
  .GeenWood_Acount_Application{
    height:900px;
    width:80%;
    background-color:
  }
  .GeenWood_Acount_Application{
    height:1700px;
    width:100%;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .application_reg{
    height:auto;
    width:60%;
    margin-left: 20%;
    background-color:white;
    margin-top:10px;
    border-radius:10px;
    border-style: double;
    border-width: 5px;
    border-right-color:green;
    border-left-color:blue;
    border-top-color:pink;
    border-bottom-color:yellow;
  }
  .applicaion_header{
    height:80px;
    width:80%;
border-radius:10px;
MARGIN-LEFT:10%;
    border-style:solid;
    border-width: 3px;
    margin-top:10px;
    background-color: yellow;


  }
  .applicaion_header>H1{
  text-align:center;
  color:blue;
  }
  .application_form_input{
    height:40px;
    width:60%;
    margin-left:20%;
margin-top:20px;
border-radius:10px;
text-align: center;
font-weight:bolder;
color:Blue;
border-style:ridge;
border-width: 2px;

  }
  .application_form_input_values{
    height:800px;
    width:80%;
    margin-left: 10%;

  }
  .appllicaion_details_submit{
    height:20px;
    width:10%;
    margin-left:45%;
    background-color:red;
    margin-top:10px;
  }
  .application_form_input_file{
    height:20px;
    width:50%;
    margin-left:80%;
  }
  .gender_values_apllicaion{
    height:20px;
    display:inline-block;

  }
  .gender_application_details{
    height:40px;
    width:60%;
    margin-left:20%;
    background-color: rd;
    margin-top:19px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius:10px;
  }
  .application_form_submit_detals_class{
    height:40px;
    width:30%;
    margin-left:35%;
    background-color:YELLOW;
    margin-top:40px;
    COLOR:blue;
    font-size:20px;
    font-weight: bolder;
    border-radius: 10px;
  }
  .gender_application_details>P{
    text-align:center;
  }
  .application_check_details{
    height:80px;
    width:60%;
    margin-left:20%;
border-style:solid;
border-width: 2px;
    margin-top:40px;;
    background-color: ;
    font-size:16px;
  }
  .application_check_details>p{
  text-align: center;
  margin-right:25%;
  }
  .application_values_labels{
    color:brown;
    Margin-left:20%;
    margin-top:13px;
    font-weight:bolder;
  }
  .application_accounts{
    color:brown;
      font-weight:bolder;
  }
  .gender_application_details>input{
    color:brown;
      font-weight:bolder;
  }
  .select_accounts{
    height:40px;
    width:60%;
    margin-left:20%;
    background-color: be;
    font-size:20px;
  }
  .select_accounts>select{
    height:40px;
    text-align:center;


  }
  .choose_apllication{
    height:120px;
    width:68%;
    margin-left:18%;
    background-color: yew;
    border-style:solid;
    border-width: 2px;
    margin-top:10px;
    font-weight: bolder;
    font-size: 15px;
color:;
border-radius:10px;
border-color: black;
  }
  .choose_apllication>p{
  margin-left:6%;
  color:brown;
  font-weight:bolder;
  }
/*operation schedule*/
.operation_schedule_mainClass{
  height:700px;
  width:70%;
  margin-left:15%;
  background-color: rgba(255, 0, 0, 0.5);
}
.operation_schedule_mainClass_HEADER{
  height:80px;
  width:80%;
border-radius:10px;
MARGIN-LEFT:10%;
  border-style:solid;
  border-width: 3px;
  margin-top:10px;
  background-color: yellow;

}
.operation_schedule_mainClass_HEADER>h1{
  text-align:center;
  color:blue;
}
